# .gitignore for databases

# Ignore database dump files
*.sql

# Ignore environment files with sensitive information
.env

# Ignore data
.db

# Ignore the actual database files
database/

# Ignore replit files aswell

.nix
.replit
